@{
    string? currentPath = Context.Request.Path.Value?.ToLower();
    bool hideHeader = false;
    bool hideFooter = false;
    if(currentPath != null){
        hideHeader = currentPath.Contains("/account/login") || currentPath.Contains("/account/register");
        hideFooter = hideHeader;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CareerAdvisorApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"/>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/CareerAdvisorApp.styles.css" asp-append-version="true" />
    <style>
        main { padding-bottom: 150px !important; }
    </style>
</head>
<body class="d-flex flex-column min-vh-100">
    @if(!hideHeader){
        @await Html.PartialAsync("_Header")
    }
    <main role="main" class="flex-fill pb-5">
        <div class="container py-4">
            @RenderBody()
        </div>
    </main>
    @if(!hideFooter){
        @await Html.PartialAsync("_Footer");
    }
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
