# Build results
bin/
obj/
out/
publish/

# ASP.NET Core
CareerAdvisorApp/wwwroot/lib/      
CareerAdvisorApp/appsettings.json
CareerAdvisorApp/appsettings.Development.json
*.db                
*.log              

# VS Code
.vscode/

# Other temporary files
*.tmp
*.temp
*.bak
*.swp

logs/